@model HotelApp.ViewModels.RoomVM

<div class="room-detail">
    <h2>@Model.TypeName</h2>

    <!-- Owl Carousel -->
    <div id="carouselExampleIndicators" class="owl-carousel owl-theme">
        @foreach (var imageUrl in Model.ImageUrls)
        {
            <div class="item">
                <img src="@imageUrl" alt="Room Image" class="d-block w-100 img-fluid" style="height: 300px;object-fit:fill;">
            </div>
        }
    </div>
    <h5>@Model.Description</h5>
    <h3>
        <strong>Giá gốc:</strong>
        <span style="text-decoration: line-through; color: gray;">
            @Model.Price.ToString("N0") VND/ Tháng
        </span>
    </h3>
    <h3>
        <strong>Ưu đãi tháng đầu tiên:</strong>
        <span style="color: red; font-weight: bold;">
            @Model.Total.ToString("N0") VND/ Tháng
        </span>
    </h3>
    <h3><strong>Số người tối đa:</strong> @Model.People</h3>
    <h3><strong>Địa chỉ:</strong> @Model.PhuongXa, @Model.QuanHuyen</h3>
    <h3><strong>Tiện nghi:</strong></h3>
    <ul>
        @foreach (var amenity in Model.AmenityNames)
        {
            <li class="btn btn-sm btn-primary mt-1">@amenity</li>
        }
    </ul>
    <button id="bookingBtn" data-roomid ="@Model.Id" class="btn w-100  my-3" style="background-color: black; color: white;">Tôi muốn thuê căn hộ</button>
</div>
