@model List<ClientWithBookingViewModel>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>SST</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Ngày bắt đầu HĐ</th>
            <th>Ngày kết thúc HĐ</th>
            <th>Căn hộ</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var item = Model[i];
            <tr>
                <td>@(i + 1)</td>
                <td>@item.User.FullName</td>
                <td>@item.User.Email</td>
                <td>@item.User.PhoneNumber</td>

                <!-- Ngày bắt đầu -->
                <td>
                    @if (item.Bookings != null && item.Bookings.Any())
                    {
                        <ul class="list-unstyled">
                            @foreach (var booking in item.Bookings)
                            {
                                <li>@booking.CheckIn.ToString("dd/MM/yyyy")</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Chưa có</span>
                    }
                </td>

                <!-- Ngày kết thúc -->
                <td>
                    @if (item.Bookings != null && item.Bookings.Any())
                    {
                        <ul class="list-unstyled">
                            @foreach (var booking in item.Bookings)
                            {
                                <li>@booking.NgayTraPhong?.ToString("dd/MM/yyyy")</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Chưa có</span>
                    }
                </td>
                <td>
                    @if (item.Bookings != null && item.Bookings.Any())
                    {
                        <ul class="list-unstyled">
                            @foreach (var booking in item.Bookings)
                            {
                                <li>
                                    <a class="btn btn-sm btn-info"
                                       href="@Url.Action("Details", "Room", new { area = "Admin", id = booking.RoomId })">
                                        Chi tiết
                                    </a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Không có</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

