@model HotelApp.Areas.Admin.ViewModels.RoomEditVM


<div class="layout-demo-wrapper">
    <div class="card shadow-lg container p-5">
<div class="container">
    <div class="titlepage">
        <h2>Chỉnh sửa căn hộ</h2>
    </div>
    <form id="editRoomForm" asp-action="Edit" asp-controller="Room" method="post" enctype="multipart/form-data">
        <input type="hidden" id="RoomId" name="Id" value="@Model.Id" />
        <input type="text" id="Code" hidden asp-for="Code" class="form-control" />
        <input type="text" id="Code" hidden asp-for="AreaId" class="form-control" />
        <!-- Loại phòng -->
        <div class="form-group">
            <label for="TypeId">Loại căn hộ</label>
            <select id="TypeId" name="TypeId" class="form-control">
                @foreach (var type in Model.RoomTypes)
                {
                    <option value="@type.Id" >@type.Name</option>
                }
            </select>
        </div>

        <!-- Khu vực -->
                <div class="form-group">
                    <label for="QuanHuyen" class="form-label">Chọn Quận Huyện:</label>
                    <select id="QuanHuyen" name="QuanHuyen" class="form-select">
                        <!-- Các option phòng sẽ được điền bằng AJAX -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="PhuongXa" class="form-label">Chọn Phường Xã:</label>
                    <select id="PhuongXa" name="PhuongXa" class="form-select">
                        <option value="">Chọn Phường/Xã</option>
                    </select>
                </div>

        <!-- Giá -->
        <div class="form-group">
                    <label asp-for="Price">Giá</label>
            <input type="number" id="Price" asp-for="Price" class="form-control" />
        </div>

        <!-- Giảm giá -->
        <div class="form-group">
                    <label asp-for="Discount">Giảm Giá</label>
                    <input type="number" step="0.01" id="Discount" asp-for="Discount" class="form-control"  />
        </div>

        <!-- Trạng thái -->
                <div class="form-group">
                    <label asp-for="Status">Trạng Thái</label>
                    <select id="Status" asp-for="Status" class="form-control">
                        <option value="0">Đang mở</option>
                        <option value="-1">Đóng</option>
                        <option value="1">Đã cọc</option>
                    </select>
                </div>
        <!-- Tiện ích -->
                <div class="form-group row g-3">
            <label class=" ml-5">Tiện ích</label>
            @foreach (var amenity in Model.Amenities)
            {
                        <div class="form-check col-3" >
                            <input class="form-check-input" id="@amenity.Id" type="checkbox" name="SelectedAmenities" value="@amenity.Id"
                            @(Model.SelectedAmenities.Contains(amenity.Id) ? "checked" : "") />
                            <label for="@amenity.Id" class="form-check-label">@amenity.Name</label>
                </div>
            }
        </div>

        <!-- Ảnh -->
        <div class="form-group mt-5 mb-5">
            <label>Ảnh</label>
                <div id="carouselExampleIndicators" class="owl-carousel owl-theme">
                    @foreach (var image in Model.Images)
                        {
                            <div style="text-align: center;" class="item">
                                <img src="@Url.Content(image.Path)" style="height: 170px;object-fit:fill; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="@image.Caption" />
                                <div class="text-ellipsis p-5">@image.Caption</div>
                            <div>
                                <button type="button" class="btn btn-danger btn-sm" onclick="deleteImage(@image.Id)">Xóa</button>
                                <button type="button" class="btn btn-primary btn-sm" onclick="editImage(@image.Id, '@image.Caption')">Sửa</button>
                            </div>
                        </div>
                    }
                </div>
            
            <div id="imageInputs">
                <input type="file" name="NewImages" class="form-control mt-4" />
            </div>
            <button type="button" id="addImage" class="btn btn-secondary mt-4">Thêm Ảnh</button>
        </div>


        <button type="submit" class="btn btn-primary">Lưu</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Hủy</a>
    </form>
</div>

    </div>
</div>

@section PageScripts {
    <script src="~/loadData/LoadComboBoxViTri.js"></script>
}