<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - HotelManage</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/slider.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <!-- Logo section -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 logo_section d-flex justify-content-center align-items-center">
                        <h1 class="m-0 p-0" style="font-size:36px; white-space: nowrap;">
                            <a href="@Url.Action("Index", "Hotel")" style="text-decoration: none;">
                                <span style="color:red;">BIT</span>Apartment
                            </a>
                        </h1>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 d-flex justify-content-between">
                        <nav class="navigation navbar navbar-expand-md navbar-dark">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample04">
                                <!-- Sử dụng flexbox cho navbar-collapse -->
                                <ul class="navbar-nav pl-0">
                                    <!-- Các thẻ <li> nằm sát lề trái -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index", "Hotel")">Trang chủ</a>
                                    </li>
                                    @* <li class="nav-item"> *@
                                    @*     <a class="nav-link" href="@Url.Action("TypePage", "Hotel")">Căn hộ</a> *@
                                    @* </li> *@
                                    @* <li class="nav-item"> *@
                                    @*     <a class="nav-link" href="@Url.Action("VoucherPage", "Hotel")">Ưu đãi</a> *@
                                    @* </li> *@
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("ContactPage", "Hotel")">Liên hệ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Rooms", "Hotel")">Tìm căn hộ</a>
                                    </li>
                                </ul>
                                <div class="d-flex align-items-center">
                                    <!-- Các nút đăng nhập và đăng ký nằm bên phải -->
                                    <a href="/Account/Login" class="btn mx-2" style="background-color: black; color: white">Login</a>
                                    <a href="/Account/Register" class="btn mx-2" style="border: 1px solid black; color: black">Register</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class=" col-md-4">
                        <h3>Liên hệ chúng tôi</h3>
                        <ul class="conta">
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Hòa Hải,Ngũ Hành Sơn, Đà Nẵng, Việt Nam</li>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i>0763561423</li>
                            <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> tuannmds170239@fpt.edu.vn</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Nội dung</h3>
                        <ul class="link_menu">
                            <li><a href="@Url.Action("Index", "Hotel")">Trang chủ</a></li>
                            <li><a href="@Url.Action("TypePage", "Hotel")"> Phòng</a></li>
                            <li><a href="@Url.Action("VoucherPage", "Hotel")">Ưu đãi</a></li>
                            <li><a href="@Url.Action("ContactPage", "Hotel")">Liên hệ</a></li>
                            <li><a href="@Url.Action("Rooms", "Hotel")">Đặt phòng</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Mạng xã hội</h3>
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/loaddata/loadroomtypes.js"></script>
    <script src="~/loaddata/loadvouchers.js"></script>
    <script src="~/loadData/LoadListRoom.js"></script>
    <script src="~/loadData/LoadAmenities.js"></script>
    <script src="~/loadData/LoadAreas.js"></script>
    <!-- Thông báo -->
    <script>
        $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>toastr.success("@TempData["SuccessMessage"]");</text>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <text>toastr.error("@TempData["ErrorMessage"]");</text>
        }
                        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

